body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6f7ff;
  color: #1f4e78;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6f7ff; /* Azul muito claro */
  color: #1f4e78; /* Azul mais escuro para texto */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  background: #3670be; /* Azul médio */
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Empilha logo e navegação verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  padding: 1rem 0;
  box-sizing: border-box;
}

.logo-container {
  margin-bottom: 5px; /* Espaço entre a logo e os links */
}

.logo {
  height: 65px; /* Altura da logo */
}

.nav-container {
  display: flex;
  gap: 1.5rem; /* Espaçamento entre os links */
}

.nav-container a {
  color: white;
  text-decoration: none; /* Remove o sublinhado */
  font-size: 1.0rem; /* Tamanho do texto */
  font-weight: bold;
  transition: color 0.3s ease; /* Efeito de transição ao passar o mouse */
}

.nav-container a:hover {
  color: #58b7e7; /* Azul claro ao passar o mouse */
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .nav-container {
    flex-wrap: wrap; /* Permite quebra de linha em telas pequenas */
    justify-content: center;
  }

  .nav-container a {
    font-size: 1rem; /* Tamanho menor em telas pequenas */
  }
}

h1 {
  margin: 0;
}

main {
  width: 100%;
  max-width: 500px; /* Largura média do formulário */
  margin-top: 9rem; /* Espaço para o cabeçalho fixo */
  padding: 1rem;
}

form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-top: 1rem;
  color: #1f4e78; /* Azul escuro */
}

form input, form select {
  width: 100%;
  padding: 0.6rem; /* Tamanho confortável */
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid #007acc; /* Borda azul médio */
  border-radius: 4px;
  background-color: #f0faff; /* Azul muito claro */
}

button {
  background: #041722; /* Azul escuro */
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #1a4a62; /* Azul escuro mais intenso */
}

#message {
  margin-top: 1rem;
  font-weight: bold;
  color: #1f4e78; /* Azul escuro para mensagens */
}

section {
  background-color: #d9f2ff; /* Azul claro para seções */
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
